@font-face {
  font-family: 'ophsIcon';
  src: url('fonts/ophsIcon.ttf?v3r6jh') format('truetype'),
    url('fonts/ophsIcon.woff?v3r6jh') format('woff'),
    url('fonts/ophsIcon.svg?v3r6jh#ophsIcon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ophsIcon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-help:before {
  content: '\e95f';
}
.icon-skip:before {
  content: '\e960';
}
.icon-arrow-long-left:before {
  content: '\e94e';
}
.icon-arrow-long-right:before {
  content: '\e95e';
}
.icon-book_visit:before {
  content: '\e95b';
}
.icon-analytics:before {
  content: '\e95a';
}
.icon-single_project:before {
  content: '\e95c';
}
.icon-phone_dial:before {
  content: '\e95d';
}
.icon-add_photo:before {
  content: '\e952';
}
.icon-edit:before {
  content: '\e953';
}
.icon-clock:before {
  content: '\e954';
}
.icon-star_user:before {
  content: '\e955';
}
.icon-buildings:before {
  content: '\e956';
}
.icon-footstep:before {
  content: '\e957';
}
.icon-refresh:before {
  content: '\e958';
}
.icon-sendto:before {
  content: '\e959';
}
.icon-360view:before {
  content: '\e94d';
}
.icon-basketball_ring:before {
  content: '\e949';
}
.icon-chess_area:before {
  content: '\e948';
}
.icon-grid:before {
  content: '\e947';
}
.icon-library:before {
  content: '\e94b';
}
.icon-lobby:before {
  content: '\e94a';
}
.icon-location_pin:before {
  content: '\e94c';
}
.icon-call:before {
  content: '\e94f';
}
.icon-invoice-alt:before {
  content: '\e950';
}
.icon-share:before {
  content: '\e951';
}
.icon-close_light:before {
  content: '\e946';
}
.icon-alternate_email:before {
  content: '\e900';
}
.icon-arrow-left:before {
  content: '\e901';
}
.icon-arrow-right:before {
  content: '\e908';
}
.icon-arrow-right1:before {
  content: '\e931';
}
.icon-arrow-up:before {
  content: '\e92c';
}
.icon-attatchment:before {
  content: '\e909';
}
.icon-avatar:before {
  content: '\e93b';
}
.icon-avatar-fill:before {
  content: '\e93c';
}
.icon-badminton:before {
  content: '\e90a';
}
.icon-banquet-hall:before {
  content: '\e90b';
}
.icon-bar-lounge:before {
  content: '\e90c';
}
.icon-bbq:before {
  content: '\e90d';
}
.icon-business-center:before {
  content: '\e90e';
}
.icon-cafe:before {
  content: '\e90f';
}
.icon-calendar:before {
  content: '\e915';
}
.icon-checkbox:before {
  content: '\e903';
}
.icon-chekbox-fill:before {
  content: '\e902';
}
.icon-close:before {
  content: '\e910';
}
.icon-club-house:before {
  content: '\e911';
}
.icon-comment:before {
  content: '\e904';
}
.icon-copy:before {
  content: '\e912';
}
.icon-creche:before {
  content: '\e913';
}
.icon-cricket-pitch:before {
  content: '\e914';
}
.icon-deck:before {
  content: '\e927';
}
.icon-decrease:before {
  content: '\e916';
}
.icon-directions:before {
  content: '\e917';
}
.icon-doc:before {
  content: '\e933';
}
.icon-fac:before {
  content: '\e918';
}
.icon-filter:before {
  content: '\e945';
}
.icon-floppy-disk:before {
  content: '\e938';
}
.icon-gallery:before {
  content: '\e919';
}
.icon-gym:before {
  content: '\e91a';
}
.icon-hart:before {
  content: '\e93d';
}
.icon-hart-fill:before {
  content: '\e93a';
}
.icon-headphone:before {
  content: '\e930';
}
.icon-history:before {
  content: '\e91b';
}
.icon-home:before {
  content: '\e91c';
}
.icon-inbox:before {
  content: '\e93e';
}
.icon-increase:before {
  content: '\e91d';
}
.icon-info:before {
  content: '\e91e';
}
.icon-invoice:before {
  content: '\e91f';
}
.icon-kids-area:before {
  content: '\e921';
}
.icon-kids-pool:before {
  content: '\e920';
}
.icon-landscape:before {
  content: '\e922';
}
.icon-leads:before {
  content: '\e923';
}
.icon-leisure-pool:before {
  content: '\e924';
}
.icon-logout:before {
  content: '\e925';
}
.icon-misc:before {
  content: '\e926';
}
.icon-nav-down:before {
  content: '\e906';
}
.icon-nav-left:before {
  content: '\e943';
}
.icon-nav-right:before {
  content: '\e944';
}
.icon-nav-up:before {
  content: '\e942';
}
.icon-notification:before {
  content: '\e937';
}
.icon-privacy:before {
  content: '\e929';
}
.icon-projects:before {
  content: '\e92a';
}
.icon-redirect:before {
  content: '\e92b';
}
.icon-reload:before {
  content: '\e905';
}
.icon-reload-alt:before {
  content: '\e941';
}
.icon-sc-zone:before {
  content: '\e92e';
}
.icon-search:before {
  content: '\e92d';
}
.icon-sm-pool:before {
  content: '\e907';
}
.icon-telegram:before {
  content: '\e939';
}
.icon-tennis:before {
  content: '\e932';
}
.icon-theatre:before {
  content: '\e928';
}
.icon-tick:before {
  content: '\e934';
}
.icon-track:before {
  content: '\e92f';
}
.icon-unlink:before {
  content: '\e93f';
}
.icon-whatsapp:before {
  content: '\e940';
}
.icon-yoga:before {
  content: '\e935';
}
.icon-zen-garden:before {
  content: '\e936';
}
