@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?y11hjt') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?y11hjt') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?y11hjt##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-call {
  &:before {
    content: $icon-call; 
  }
}
.icon-invoice-alt {
  &:before {
    content: $icon-invoice-alt; 
  }
}
.icon-share {
  &:before {
    content: $icon-share; 
  }
}
.icon-close_light {
  &:before {
    content: $icon-close_light; 
  }
}
.icon-360view {
  &:before {
    content: $icon-360view; 
  }
}
.icon-basketball_ring {
  &:before {
    content: $icon-basketball_ring; 
  }
}
.icon-chess_area {
  &:before {
    content: $icon-chess_area; 
  }
}
.icon-grid {
  &:before {
    content: $icon-grid; 
  }
}
.icon-library {
  &:before {
    content: $icon-library; 
  }
}
.icon-lobby {
  &:before {
    content: $icon-lobby; 
  }
}
.icon-location_pin {
  &:before {
    content: $icon-location_pin; 
  }
}
.icon-alternate_email {
  &:before {
    content: $icon-alternate_email; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrow-right1 {
  &:before {
    content: $icon-arrow-right1; 
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.icon-attatchment {
  &:before {
    content: $icon-attatchment; 
  }
}
.icon-avatar {
  &:before {
    content: $icon-avatar; 
  }
}
.icon-avatar-fill {
  &:before {
    content: $icon-avatar-fill; 
  }
}
.icon-badminton {
  &:before {
    content: $icon-badminton; 
  }
}
.icon-banquet-hall {
  &:before {
    content: $icon-banquet-hall; 
  }
}
.icon-bar-lounge {
  &:before {
    content: $icon-bar-lounge; 
  }
}
.icon-bbq {
  &:before {
    content: $icon-bbq; 
  }
}
.icon-business-center {
  &:before {
    content: $icon-business-center; 
  }
}
.icon-cafe {
  &:before {
    content: $icon-cafe; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-checkbox {
  &:before {
    content: $icon-checkbox; 
  }
}
.icon-chekbox-fill {
  &:before {
    content: $icon-chekbox-fill; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-club-house {
  &:before {
    content: $icon-club-house; 
  }
}
.icon-comment {
  &:before {
    content: $icon-comment; 
  }
}
.icon-copy {
  &:before {
    content: $icon-copy; 
  }
}
.icon-creche {
  &:before {
    content: $icon-creche; 
  }
}
.icon-cricket-pitch {
  &:before {
    content: $icon-cricket-pitch; 
  }
}
.icon-deck {
  &:before {
    content: $icon-deck; 
  }
}
.icon-decrease {
  &:before {
    content: $icon-decrease; 
  }
}
.icon-directions {
  &:before {
    content: $icon-directions; 
  }
}
.icon-doc {
  &:before {
    content: $icon-doc; 
  }
}
.icon-fac {
  &:before {
    content: $icon-fac; 
  }
}
.icon-filter {
  &:before {
    content: $icon-filter; 
  }
}
.icon-floppy-disk {
  &:before {
    content: $icon-floppy-disk; 
  }
}
.icon-gallery {
  &:before {
    content: $icon-gallery; 
  }
}
.icon-gym {
  &:before {
    content: $icon-gym; 
  }
}
.icon-hart {
  &:before {
    content: $icon-hart; 
  }
}
.icon-hart-fill {
  &:before {
    content: $icon-hart-fill; 
  }
}
.icon-headphone {
  &:before {
    content: $icon-headphone; 
  }
}
.icon-history {
  &:before {
    content: $icon-history; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-inbox {
  &:before {
    content: $icon-inbox; 
  }
}
.icon-increase {
  &:before {
    content: $icon-increase; 
  }
}
.icon-info {
  &:before {
    content: $icon-info; 
  }
}
.icon-invoice {
  &:before {
    content: $icon-invoice; 
  }
}
.icon-kids-area {
  &:before {
    content: $icon-kids-area; 
  }
}
.icon-kids-pool {
  &:before {
    content: $icon-kids-pool; 
  }
}
.icon-landscape {
  &:before {
    content: $icon-landscape; 
  }
}
.icon-leads {
  &:before {
    content: $icon-leads; 
  }
}
.icon-leisure-pool {
  &:before {
    content: $icon-leisure-pool; 
  }
}
.icon-logout {
  &:before {
    content: $icon-logout; 
  }
}
.icon-misc {
  &:before {
    content: $icon-misc; 
  }
}
.icon-nav-down {
  &:before {
    content: $icon-nav-down; 
  }
}
.icon-nav-left {
  &:before {
    content: $icon-nav-left; 
  }
}
.icon-nav-right {
  &:before {
    content: $icon-nav-right; 
  }
}
.icon-nav-up {
  &:before {
    content: $icon-nav-up; 
  }
}
.icon-notification {
  &:before {
    content: $icon-notification; 
  }
}
.icon-privacy {
  &:before {
    content: $icon-privacy; 
  }
}
.icon-projects {
  &:before {
    content: $icon-projects; 
  }
}
.icon-redirect {
  &:before {
    content: $icon-redirect; 
  }
}
.icon-reload {
  &:before {
    content: $icon-reload; 
  }
}
.icon-reload-alt {
  &:before {
    content: $icon-reload-alt; 
  }
}
.icon-sc-zone {
  &:before {
    content: $icon-sc-zone; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-sm-pool {
  &:before {
    content: $icon-sm-pool; 
  }
}
.icon-telegram {
  &:before {
    content: $icon-telegram; 
  }
}
.icon-tennis {
  &:before {
    content: $icon-tennis; 
  }
}
.icon-theatre {
  &:before {
    content: $icon-theatre; 
  }
}
.icon-tick {
  &:before {
    content: $icon-tick; 
  }
}
.icon-track {
  &:before {
    content: $icon-track; 
  }
}
.icon-unlink {
  &:before {
    content: $icon-unlink; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.icon-yoga {
  &:before {
    content: $icon-yoga; 
  }
}
.icon-zen-garden {
  &:before {
    content: $icon-zen-garden; 
  }
}
.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}

