$icomoon-font-family: "ophsIcon" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow-long-left: "\e94e";
$icon-arrow-long-right: "\e95e";
$icon-book_visit: "\e95b";
$icon-analytics: "\e95a";
$icon-single_project: "\e95c";
$icon-phone_dial: "\e95d";
$icon-add_photo: "\e952";
$icon-edit: "\e953";
$icon-clock: "\e954";
$icon-star_user: "\e955";
$icon-buildings: "\e956";
$icon-footstep: "\e957";
$icon-refresh: "\e958";
$icon-sendto: "\e959";
$icon-360view: "\e94d";
$icon-basketball_ring: "\e949";
$icon-chess_area: "\e948";
$icon-grid: "\e947";
$icon-library: "\e94b";
$icon-lobby: "\e94a";
$icon-location_pin: "\e94c";
$icon-call: "\e94f";
$icon-invoice-alt: "\e950";
$icon-share: "\e951";
$icon-close_light: "\e946";
$icon-alternate_email: "\e900";
$icon-arrow-left: "\e901";
$icon-arrow-right: "\e908";
$icon-arrow-right1: "\e931";
$icon-arrow-up: "\e92c";
$icon-attatchment: "\e909";
$icon-avatar: "\e93b";
$icon-avatar-fill: "\e93c";
$icon-badminton: "\e90a";
$icon-banquet-hall: "\e90b";
$icon-bar-lounge: "\e90c";
$icon-bbq: "\e90d";
$icon-business-center: "\e90e";
$icon-cafe: "\e90f";
$icon-calendar: "\e915";
$icon-checkbox: "\e903";
$icon-chekbox-fill: "\e902";
$icon-close: "\e910";
$icon-club-house: "\e911";
$icon-comment: "\e904";
$icon-copy: "\e912";
$icon-creche: "\e913";
$icon-cricket-pitch: "\e914";
$icon-deck: "\e927";
$icon-decrease: "\e916";
$icon-directions: "\e917";
$icon-doc: "\e933";
$icon-fac: "\e918";
$icon-filter: "\e945";
$icon-floppy-disk: "\e938";
$icon-gallery: "\e919";
$icon-gym: "\e91a";
$icon-hart: "\e93d";
$icon-hart-fill: "\e93a";
$icon-headphone: "\e930";
$icon-history: "\e91b";
$icon-home: "\e91c";
$icon-inbox: "\e93e";
$icon-increase: "\e91d";
$icon-info: "\e91e";
$icon-invoice: "\e91f";
$icon-kids-area: "\e921";
$icon-kids-pool: "\e920";
$icon-landscape: "\e922";
$icon-leads: "\e923";
$icon-leisure-pool: "\e924";
$icon-logout: "\e925";
$icon-misc: "\e926";
$icon-nav-down: "\e906";
$icon-nav-left: "\e943";
$icon-nav-right: "\e944";
$icon-nav-up: "\e942";
$icon-notification: "\e937";
$icon-privacy: "\e929";
$icon-projects: "\e92a";
$icon-redirect: "\e92b";
$icon-reload: "\e905";
$icon-reload-alt: "\e941";
$icon-sc-zone: "\e92e";
$icon-search: "\e92d";
$icon-sm-pool: "\e907";
$icon-telegram: "\e939";
$icon-tennis: "\e932";
$icon-theatre: "\e928";
$icon-tick: "\e934";
$icon-track: "\e92f";
$icon-unlink: "\e93f";
$icon-whatsapp: "\e940";
$icon-yoga: "\e935";
$icon-zen-garden: "\e936";

