$icomoon-font-family: "ophsIcon" !default;
$icomoon-font-path: "fonts" !default;

$icon-filter: "\e945";
$icon-sm-pool: "\e907";
$icon-alternate_email: "\e900";
$icon-arrow-left: "\e901";
$icon-arrow-right: "\e908";
$icon-arrow-up: "\e92c";
$icon-arrow-right1: "\e931";
$icon-chekbox-fill: "\e902";
$icon-checkbox: "\e903";
$icon-comment: "\e904";
$icon-reload: "\e905";
$icon-reload-alt: "\e941";
$icon-nav-down: "\e906";
$icon-nav-up: "\e942";
$icon-nav-left: "\e943";
$icon-nav-right: "\e944";
$icon-attatchment: "\e909";
$icon-badminton: "\e90a";
$icon-banquet-hall: "\e90b";
$icon-bar-lounge: "\e90c";
$icon-bbq: "\e90d";
$icon-business-center: "\e90e";
$icon-cafe: "\e90f";
$icon-close: "\e910";
$icon-club-house: "\e911";
$icon-copy: "\e912";
$icon-creche: "\e913";
$icon-cricket-pitch: "\e914";
$icon-calendar: "\e915";
$icon-decrease: "\e916";
$icon-directions: "\e917";
$icon-fac: "\e918";
$icon-gallery: "\e919";
$icon-gym: "\e91a";
$icon-history: "\e91b";
$icon-home: "\e91c";
$icon-increase: "\e91d";
$icon-info: "\e91e";
$icon-invoice: "\e91f";
$icon-kids-pool: "\e920";
$icon-kids-area: "\e921";
$icon-landscape: "\e922";
$icon-leads: "\e923";
$icon-leisure-pool: "\e924";
$icon-logout: "\e925";
$icon-misc: "\e926";
$icon-deck: "\e927";
$icon-theatre: "\e928";
$icon-privacy: "\e929";
$icon-projects: "\e92a";
$icon-redirect: "\e92b";
$icon-search: "\e92d";
$icon-sc-zone: "\e92e";
$icon-track: "\e92f";
$icon-headphone: "\e930";
$icon-tennis: "\e932";
$icon-doc: "\e933";
$icon-tick: "\e934";
$icon-yoga: "\e935";
$icon-zen-garden: "\e936";
$icon-notification: "\e937";
$icon-floppy-disk: "\e938";
$icon-telegram: "\e939";
$icon-hart-fill: "\e93a";
$icon-avatar: "\e93b";
$icon-avatar-fill: "\e93c";
$icon-Union: "\e93d";
$icon-inbox: "\e93e";
$icon-unlink: "\e93f";
$icon-whatsapp: "\e940";

